.heading-xlarge2 {
  font-family: $font-family-nta;
  font-weight: $font-weight-bold;
  text-transform: none;
  font-size: 48px;
  line-height: 1.09375;
  margin-top: .26875em;
  margin-bottom: .6375em;
}

.table-subsection-heading2 {
  font-family: $font-family-nta;
  font-weight: $font-weight-bold;
  text-transform: none;
  font-size: 28px;
  line-height: .2;
  margin-top: .5em;
  margin-bottom: .6em;
}

.change-small {
  display: inline-block;
  position: relative;
  font-family: $font-family-nta;
  font-weight: $font-weight-normal;
  text-transform: none;
  text-align: right;
  font-size: 16px;
  text-decoration: none;
}
