.heading-tertiary {
  color: $rolling-stone;
  display: block;
  font-family: $font-family-nta;
  font-size: 24px;
  font-weight: $font-weight-bold;
  line-height: 1.09375em;
  margin-right: 10px;
  text-transform: none;
}
